<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sitexa.android.community">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:name="com.sitexa.android.community.AndroidApplication"
        android:icon="@drawable/sitexa"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.sitexa.android.community.view.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sitexa.android.community.view.activity.UserListActivity"
            android:label="@string/activity_title_user_list">
        </activity>

        <activity
            android:name="com.sitexa.android.community.view.activity.UserDetailsActivity"
            android:label="@string/activity_title_user_details">
        </activity>
    </application>

</manifest>
